# =========================
# DEPENDENCIAS
# =========================
node_modules
Backend/node_modules
frontend/node_modules

# =========================
# BUILDS / CACHE
# =========================
frontend/dist
frontend/.vite

# =========================
# VARIABLES DE ENTORNO
# =========================
.env
Backend/.env

# =========================
# GIT
# =========================
.git
.gitignore

# =========================
# LOGS
# =========================
*.log
npm-debug.log*

# =========================
# TESTS
# =========================
Backend/__tests__

# =========================
# IDE
# =========================
.vscode
.idea
*.swp

# =========================
# OS
# =========================
.DS_Store
Thumbs.db